# Overview
We are going to build a sample decision tree algorithm on Bank Data available https://www.kaggle.com/rouseguy/bankbalanced
The purpose will to predict if client client will will subscribe or not to a term deposit 

# Description of Data

## Input variables:
### bank client data:
1. age (numeric)
2. job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3. marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4. education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5. default: has credit in default? (categorical: 'no','yes','unknown')
6. housing: has housing loan? (categorical: 'no','yes','unknown')
7. loan: has personal loan? (categorical: 'no','yes','unknown')

### related with the last contact of the current campaign:
8. contact: contact communication type (categorical: 'cellular','telephone')
9. month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10. day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11. duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a 
realistic predictive model.

### other attributes:
12. campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13. pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14. previous: number of contacts performed before this campaign and for this client (numeric)
15. poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')

### social and economic context attributes
16. emp.var.rate: employment variation rate - quarterly indicator (numeric)
17. cons.price.idx: consumer price index - monthly indicator (numeric)
18. cons.conf.idx: consumer confidence index - monthly indicator (numeric)
19. euribor3m: euribor 3 month rate - daily indicator (numeric)
20. nr.employed: number of employees - quarterly indicator (numeric)

Output variable (desired target):
21. y - has the client subscribed a term deposit? (binary: 'yes','no')

In [2]:
val init = 1

init: Int = 1

# Load Data

In [4]:
val data = spark.read.format("csv").option("header","true").load("bank.csv")

data: org.apache.spark.sql.DataFrame = [age: string, job: string ... 15 more fields]

In [5]:
data.printSchema

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [7]:
data.show(10)

+---+----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|       job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|    admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|    admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41|technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|  services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|    admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42|management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56|management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|   retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37|technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|  services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
+---+----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 10 rows

In [9]:
data.createOrReplaceTempView("data")

# Exploratory Analysis
In the next cells we are going to switch between scala and python. Usually python wil be used data plotting.

In [33]:
%%python
import databricks.koalas as ks
import tempfile
import seaborn as sns
from matplotlib import pyplot as plt
from IPython.display import Image

ks.set_option("plotting.max_rows", 1000000)
data = spark.sql("select * from data").to_koalas()
print(data.head(5))

  age         job  marital  education default balance housing loan  contact day month duration campaign pdays previous poutcome deposit
0  59      admin.  married  secondary      no    2343     yes   no  unknown   5   may     1042        1    -1        0  unknown     yes
1  56      admin.  married  secondary      no      45      no   no  unknown   5   may     1467        1    -1        0  unknown     yes
2  41  technician  married  secondary      no    1270     yes   no  unknown   5   may     1389        1    -1        0  unknown     yes
3  55    services  married  secondary      no    2476     yes   no  unknown   5   may      579        1    -1        0  unknown     yes
4  54      admin.  married   tertiary      no     184      no   no  unknown   5   may      673        2    -1        0  unknown     yes

In [10]:
data.select("age","balance","duration").summary().show()

+-------+------------------+------------------+------------------+
|summary|               age|           balance|          duration|
+-------+------------------+------------------+------------------+
|  count|             11162|             11162|             11162|
|   mean|41.231947679627304|1528.5385235620856|371.99381831213043|
| stddev|11.913369192215518| 3225.413325946149|347.12838571630687|
|    min|                18|                -1|                10|
|    25%|              32.0|             122.0|             138.0|
|    50%|              39.0|             550.0|             255.0|
|    75%|              49.0|            1708.0|             496.0|
|    max|                95|              9994|               999|
+-------+------------------+------------------+------------------+

In [39]:
val job_summary = data.groupBy("job").count()
    .withColumn("percentage", round(col("count") * 100 /  sum("count").over(),2))

job_summary.createOrReplaceTempView("job_summary")
job_summary.show()

+-------------+-----+----------+
|          job|count|percentage|
+-------------+-----+----------+
|   management| 2566|     22.99|
|      retired|  778|      6.97|
|      unknown|   70|      0.63|
|self-employed|  405|      3.63|
|      student|  360|      3.23|
|  blue-collar| 1944|     17.42|
| entrepreneur|  328|      2.94|
|       admin.| 1334|     11.95|
|   technician| 1823|     16.33|
|     services|  923|      8.27|
|    housemaid|  274|      2.45|
|   unemployed|  357|       3.2|
+-------------+-----+----------+

job_summary: org.apache.spark.sql.DataFrame = [job: string, count: bigint ... 1 more field]

In [37]:
%%python

plt.rcParams['figure.figsize'] = [8, 5]

job_summary = spark.table("job_summary")



#  data.plot("job")

#  with tempfile.NamedTemporaryFile(suffix=".png") as fo:
#      plt.savefig(fo.name)
#      retval = Image(filename=fo.name)

SyntaxError: ('invalid syntax', ('python cell', 1, 2, "// plt.rcParams['figure.figsize'] = [8, 5]\n"))

In [ ]:
%python
import databricks.koalas as ks
import tempfile
import seaborn as sns
from matplotlib import pyplot as plt
from IPython.display import Image