In [1]:
val init = 1

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.2.10:4041
SparkContext available as 'sc' (version = 3.0.0, master = local[*], app id = local-1611351045065)
SparkSession available as 'spark'

init: Int = 1

# Loading Data

In [2]:
val housing = spark.read.format("csv")
    .option("header","true")
    .option("inferSchema","true")
    .load("housing.csv")
housing.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|       NEAR BAY|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 10 rows

housing: org.apache.spark.sql.DataFrame = [longitude: double, latitude: double ... 8 more fields]

In [3]:
housing.describe().show

+-------+-------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------------+
|summary|          longitude|         latitude|housing_median_age|       total_rooms|    total_bedrooms|        population|       households|     median_income|median_house_value|ocean_proximity|
+-------+-------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------------+
|  count|              20640|            20640|             20640|             20640|             20433|             20640|            20640|             20640|             20640|          20640|
|   mean|-119.56970445736148| 35.6318614341087|28.639486434108527|2635.7630813953488| 537.8705525375618|1425.4767441860465|499.5396802325581|3.8706710029070246|206855.81690891474|           null|
| stddev|  2.003531723502584|2.135952397457101| 12.58555761211163|2181.6152515827944|421.38507007403115|  1132.46212176534|382.3297528316098| 1.899821717945263|115395.61587441359|           null|
|    min|            -124.35|            32.54|               1.0|               2.0|               1.0|               3.0|              1.0|            0.4999|           14999.0|      <1H OCEAN|
|    max|            -114.31|            41.95|              52.0|           39320.0|            6445.0|           35682.0|           6082.0|           15.0001|          500001.0|     NEAR OCEAN|
+-------+-------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------------+

# Spliting using random

In [4]:
val Array(train1, test1) = housing
    .randomSplit(Array(0.8, 0.2))

train1.select("longitude")
    .describe()
    .show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              16563|
|   mean|-119.57226951639137|
| stddev|  2.006840716149941|
|    min|            -124.35|
|    max|            -114.49|
+-------+-------------------+

train1: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 8 more fields]
test1: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 8 more fields]

In [5]:
val Array(train2, test2) = housing
    .randomSplit(Array(0.8, 0.2))

train2.select("longitude")
    .describe()
    .show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              16504|
|   mean|-119.58617123121586|
| stddev| 2.0080906727637027|
|    min|            -124.35|
|    max|            -114.31|
+-------+-------------------+

train2: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 8 more fields]
test2: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 8 more fields]

# Spliting using random and same seed

In [6]:
val Array(train3, test3) = housing
    .randomSplit(Array(0.8, 0.2), 47)

train3.select("longitude")
    .describe()
    .show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              16510|
|   mean|-119.56390490611753|
| stddev| 2.0075057468016757|
|    min|            -124.35|
|    max|            -114.31|
+-------+-------------------+

train3: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 8 more fields]
test3: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 8 more fields]

In [7]:
val Array(train4, test4) = housing
    .randomSplit(Array(0.8, 0.2), 47)

train4.select("longitude")
    .describe()
    .show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              16510|
|   mean|-119.56390490611753|
| stddev| 2.0075057468016757|
|    min|            -124.35|
|    max|            -114.31|
+-------+-------------------+

train4: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 8 more fields]
test4: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 8 more fields]

In [8]:
val Array(train5, test5) = spark.read.format("csv").option("header","true").option("inferSchema","true").load("housing.csv")
    .select("longitude","latitude")
    .randomSplit(Array(0.8, 0.2), 47)

train5.select("longitude")
    .describe()
    .show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              16510|
|   mean|-119.56390490611753|
| stddev| 2.0075057468016757|
|    min|            -124.35|
|    max|            -114.31|
+-------+-------------------+

train5: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double]
test5: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double]

In [9]:
val Array(train6, test6) = spark.read.format("csv").option("header","true").option("inferSchema","true").load("housing.csv")
    .select("longitude","latitude")
    .randomSplit(Array(0.8, 0.2), 47)

train6.select("longitude")
    .describe()
    .show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              16510|
|   mean|-119.56390490611753|
| stddev| 2.0075057468016757|
|    min|            -124.35|
|    max|            -114.31|
+-------+-------------------+

train6: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double]
test6: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double]

# Spliting using hash

In [10]:
import org.apache.spark.sql.functions._

val housing_new = housing
    .withColumn("id",monotonicallyIncreasingId)
    .withColumn("bin_id", bin($"id"))
    .withColumn("crc32_id", crc32($"bin_id"))

housing_new.select("longitude","id","bin_id","crc32_id")
    .show(10)

+---------+---+------+----------+
|longitude| id|bin_id|  crc32_id|
+---------+---+------+----------+
|  -122.23|  0|     0|4108050209|
|  -122.22|  1|     1|2212294583|
|  -122.24|  2|    10|2707236321|
|  -122.25|  3|    11|3596227959|
|  -122.25|  4|   100| 595022058|
|  -122.25|  5|   101|1416650876|
|  -122.25|  6|   110| 980181419|
|  -122.25|  7|   111|1298878781|
|  -122.26|  8|  1000|3022496535|
|  -122.25|  9|  1001|3273692033|
+---------+---+------+----------+
only showing top 10 rows

import org.apache.spark.sql.functions._
housing_new: org.apache.spark.sql.DataFrame = [longitude: double, latitude: double ... 11 more fields]

In [11]:
val max_value = housing_new.select(max($"crc32_id"))
    .collect()(0)(0).asInstanceOf[Long]

max_value: Long = 4294892987

In [12]:
val train7 = housing_new.where($"crc32_id" <= max_value*0.8)

train7.select("longitude")
    .describe()
    .show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              16516|
|   mean|-119.57123940421286|
| stddev|  2.002698904521996|
|    min|            -124.35|
|    max|            -114.31|
+-------+-------------------+

train7: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 11 more fields]

In [13]:
val test7 = housing_new.where($"crc32_id" > max_value*0.8)
test7.describe().show()

+-------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------+------------------+--------------------+--------------------+
|summary|          longitude|          latitude|housing_median_age|       total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|ocean_proximity|                id|              bin_id|            crc32_id|
+-------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------+------------------+--------------------+--------------------+
|  count|               4124|              4124|              4124|              4124|              4099|              4124|              4124|              4124|              4124|           4124|              4124|                4124|                4124|
|   mean|-119.56355722599397|35.629260426770095|28.547041707080503|2620.7082929194958| 533.3234935350085|1414.4544131910766|496.69495635305526|3.8649543161978688| 206447.7194471387|           null|10319.041222114452|2.499940458461118E13|3.8659915800725026E9|
| stddev| 2.0070949654206958|2.1320818217337547|12.550783322001655|2181.2336367395937|415.42447349549246|1099.8751648377836|  379.189135202875|1.8810474208120014|115974.96019821496|           null| 5951.586701672246|3.847004028036372E13|2.4786910862792045E8|
|    min|            -124.23|             32.56|               2.0|              12.0|               3.0|               8.0|               3.0|            0.4999|           26600.0|      <1H OCEAN|                 0|                   0|          3436709996|
|    max|            -114.47|              41.8|              52.0|           39320.0|            6210.0|           16305.0|            5358.0|           15.0001|          500001.0|     NEAR OCEAN|             20630|       1111111111111|          4294892987|
+-------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------+------------------+--------------------+--------------------+

test7: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [longitude: double, latitude: double ... 11 more fields]